include ./_bg-simplify-section-desktop.pug

include ./_bg-simplify-section-mobile.pug

include ./_bg-tablet-pattern.pug

include ./_close.pug

include ./_facebook.pug

include ./_hamburger.pug

include ./_illustrator.pug

include ./_instagram.pug

include ./_logo.pug

include ./_pinterest.pug

include ./_twitter.pug

include ./_youtube.pug
