:root {
    /* * Colors */
    --bright-red: hsl(12, 88%, 59%);
    --dark-blue: hsl(228, 39%, 23%);
    --dark-grayish-blue: hsl(227, 12%, 61%);
    --very-dark-blue: hsl(233, 12%, 13%);
    --very-pale-red: hsl(13, 100%, 96%);
    --vary-light-gray: hsl(0, 0%, 98%);
    --base-font-size: 16px;
}

/* Box sizing rules */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-size: 0.875rem;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* be-vietnam-pro-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/be-vietnam-pro-v11-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* be-vietnam-pro-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/be-vietnam-pro-v11-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* be-vietnam-pro-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/be-vietnam-pro-v11-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
    font-size: var(--base-font-size);
    font-family: 'Be Vietnam Pro', sans-serif;
    overflow-x: hidden;
}

section {
    padding-bottom: 7rem;
}

::selection {
    color: var(--vary-light-gray);
    background-color: var(--bright-red);
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

@media (max-width: 575px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}

.pale-red {
    fill: var(--very-pale-red)
}

.btn {
    max-width: 10rem;
    padding: 1rem 2rem;
    border-radius: 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bright-red);
    color: var(--vary-light-gray);
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 0.9rem;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    opacity: 0.76;
}

.main {
    position: relative;
}

.main__bg {
    width: 200px;
    height: 100px;
    position: absolute;
    top: -25%;
    right: 30%;
    z-index: -1;
}

.navbar {
    padding-block: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__links {
    display: flex;
    gap: 1rem;
}

.navbar__links__item__link {
    display: inline-block;
    text-transform: capitalize;
    color: var(--very-dark-blue);
    font-weight: 500;
}

.navbar__hamburger {
    width: 27px;
    height: 1.2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    /* display: none; */
}

.navbar__hamburger__line {
    width: 100%;
    height: 1rem;
    display: block;
    background-color: var(--very-dark-blue);
}

.landing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (max-width: 768px) {
    .landing {
        grid-template-columns: 1fr;
    }
}

.landing__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

@media (max-width: 768px) {
    .landing__left {
        text-align: center;
    }
}

.landing__left__title {
    color: var(--dark-blue);
    font-weight: 700;
    font-size: 4rem;
    line-height: 76px;
}

@media (max-width: 1200px) {
    .landing__left__title {
        font-size: 3rem;
        line-height: 65px;
    }
}

@media (max-width: 991px) {
    .landing__left__title {
        font-size: 2rem;
        line-height: 50px;
    }
}

.landing__left__desc {
    width: 50%;
    color: var(--dark-grayish-blue);
}

@media (max-width: 1200px) {
    .landing__left__desc {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .landing__left .btn {
        margin-inline: auto;
    }
}

.landing__right img {
    width: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .landing__right {
        order: -1;
    }
}