include ./components/_index
include ./mixins/_index

doctype html
html(lang="en")
    head
        +meta-data("Khaled Mohamed")

        +meta-desc("Just a description for Manage Landing Page project as landing page!")

        +meta-words("HTML, CSS, JS, PugJS, PostCSS, Front End Challenge, Front End Mentor")
        +meta-theme("#242d52")

        link(rel="shortcut icon" href="./public/assets/favicons/favicon.ico" type="image/x-icon")
        link(rel="manifest" href="./public/assets/favicons/site.webmanifest")

        +space()

        title Manage Landing Page

        +space()

        link(rel="stylesheet" href="./public/index.css")

    body
        main(class="main container" id="main")
            nav(class="navbar")
                div(class="navbar__logo")
                    +logo()

                +space()
                ul(class="navbar__links" role="list")
                    -
                        const links = [
                            { text: "pricing", url: "#" },
                            { text: "product", url: "#" },
                            { text: "about us", url: "#" },
                            { text: "careers", url: "#" },
                            { text: "community", url: "#" },
                        ];

                    each link in links
                        li(class="navbar__links__item")
                            +space()
                            a(href=link.url class="navbar__links__item__link") #{link.text}

                +space()
                +button("get started", "#")
        script(src="./public/main.bundle.js") 
        +no-script()